<mat-toolbar class="title" color="primary">
  <span>Change Password</span>
</mat-toolbar>
<mat-dialog-content>
  <form [formGroup]="changePasswordForm">
    <mat-form-field>
      <input matInput placeholder="Old Password" formControlName="oldPassword" type="password">
      <mat-error
        *ngIf="changePasswordForm.controls.oldPassword.touched && changePasswordForm.controls.oldPassword.invalid">
        <span *ngIf="changePasswordForm.controls.oldPassword.errors.required">Password is required</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="New Password" formControlName="newPassword" type="password">
      <mat-error
        *ngIf="changePasswordForm.controls.newPassword.touched && changePasswordForm.controls.newPassword.invalid">
        <span *ngIf="changePasswordForm.controls.newPassword.errors.required">Password is required</span>
        <span *ngIf="changePasswordForm.controls.newPassword.errors.pattern">Minimum eight characters, at least one
          letter, one number and one special character:</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Confirm Password" formControlName="confirmPassword" type="password">
      <mat-error
        *ngIf="changePasswordForm.controls.confirmPassword.touched  && changePasswordForm.controls.confirmPassword.invalid">
        <span *ngIf="changePasswordForm.controls.confirmPassword.errors.required">Confirm Password is required</span>
        <span *ngIf="changePasswordForm.controls.confirmPassword.errors.GlobalConstant.passwordPattern">This field is
          invalid</span>
        <span *ngIf="changePasswordForm.controls.confirmPassword.errors.passwordMismatch">Password does not match</span>
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="submitChangePassword()" [disabled]="(checkPassword())">Change Password</button>
  <button mat-raised-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>