<form [formGroup]="loginForm">
    <mat-form-field class="form-field" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" required>
        <mat-error *ngIf="loginForm.controls.email.touched &&loginForm.controls.email.invalid">
            <span *ngIf="loginForm.controls.email.errors.required">Email is required</span>
            <span *ngIf="loginForm.controls.email.errors.pattern">This field is invalid</span>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Password" formControlName="password" required>
        <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
            <span *ngIf="loginForm.controls.password.errors.required">Password is required</span>
            <span *ngIf="loginForm.controls.password.errors.pattern">Minimum eight characters, at least one letter, one number and one special character:</span>
        </mat-error>
    </mat-form-field>
</form>

<mat-dialog-actions style="display: flex; flex-direction: row; justify-content: space-between;">
    <button mat-raised-button color=""  (click)="onCancelClick()">Cancel</button>
    <button mat-raised-button color="primary" type="submit" (click)="onLoginClick()"
    [disabled]="!(loginForm.valid && loginForm.dirty)">Login</button>
</mat-dialog-actions>

